*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.bglogin {
	background-image: url("img/bmth.png");
	background-position: center;
	background-size: cover;
}